.filters {
    position: fixed;
    inset: 0;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    transition: opacity .5s cubic-bezier(.03,.98,.52,.99);
    z-index: -1000;


    .overlay {
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: $blur-color;
    }

    .container {
        width: 100vw;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        box-shadow: 0 0 10000px 10px $primary-color-variant;
        border-top: 2px solid $accent-color;
        background-color: $primary-color;
        overflow: hidden;      
        
        
        .inner {
            width: 100%;
            padding: 1rem 2rem ;
            overflow-y: auto;
            max-height: 35vh;


            &::-webkit-scrollbar {
                width: 5px;
            }
        }
    }


    &.closed {
        opacity: 0;

        & > .container {
            transform: scaleY(0);
            opacity: 0;
        }
    }

    &.opened {
        z-index: 100000;

        opacity: 1;

        & > .container {
            transform: scaleY(1);
            opacity: 1;
        }
    }
}