.filters {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    transition: transform .3s ease-in-out;
    z-index: 1000;


    .overlay {
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: $blur-color;
    }

    .container {
        background-color: $blur-color;
        position: relative;
        backdrop-filter: blur($blur-size);
        width: clamp(120px, 65vw, 350px);
        min-width: fit-content;
        height: 80%;
        padding: 1rem;
        border-radius: $border-radius 0 0 $border-radius;
        transition: 
            transform .3s .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
            opacity .3s .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transform-origin: right;
        overflow-x: visible;

        .burger {
            position: absolute;
            top: 0;
            left: 0;
            width: 1.5rem;
            transform: translate(-25%, -25%);
            background-color: $primary-color-variant;
            border: 1px solid $secondary-color-variant;
            z-index: 1000
        }
        .inner {
            overflow: hidden;
            height: 100%;
            overflow-y: auto;
        }
    }


    &.closed {
        transform: translateX(100%);

        & > .container {
            transform: scaleX(0);
            opacity: 0;
        }
    }

    &.opened {
        transform: translateX(0);

        & > .container {
            transform: scaleX(1);
            opacity: 1;
        }
    }
}