.filters {
    position: fixed;
    inset: 0;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    transition: opacity .5s cubic-bezier(.03,.98,.52,.99), z-index .35s cubic-bezier(.03,.98,.52,.99);

    .overlay {
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: $blur-color;
    }

    .container {
        width: 100vw;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        box-shadow: 0 0 10000px 10px var(--secondary-color-variant, $secondary-color-variant);
        border-top: 2px solid var(--accent-color, $accent-color);
        background-color: var(--primary-color, $primary-color);
        overflow: hidden;      
        transform-origin: bottom;
        transition: transform .5s cubic-bezier(.03,.98,.52,.99);
        
        
        .inner {
            width: 100%;
            padding: 1rem 2rem ;
            overflow-y: auto;
            max-height: 35vh;


            &::-webkit-scrollbar {
                width: 5px;
            }
        }
    }


    &.closed {
        opacity: 0;
        z-index: -1000;

        & > .container {
            transform: translateY(65%);
        }
    }

    &.opened {
        z-index: 100000;
        opacity: 1;

        & > .container {
            transform: translateY(0);
        }
    }
}