$icon-height: 3.5rem;
$gap: 1rem;

.nav {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    max-width: 100vw;
    display: grid;
    place-items: center;
    z-index: 1000;

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 50%;
        background-color: $accent-color;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
        top: 50%;
        z-index: -1;
        background-color: $primary-color;
    }

    .container {
        display: grid;
        grid-template-columns: calc(100% - $icon-height - $gap) $icon-height;
        gap: $gap;
        width: clamp(min(200px, 80%), 85vw, 85vw);
        max-width: 100%;
        height: $icon-height;

        & > * {
            height: 100%;
        }

        .showFilterBtn {
            padding: 1rem;
    
            svg {
                height: 100%;
                stroke: $secondary-color;
            }
        }
    }

}