.btn {
    padding: 10px 20px;
    border-radius: $border-radius;
    background-color: $e-global-color-4476459;
    color: $primary-color;
    transition: transform .3s ease-in-out;


    &:is(:hover, :focus) {
        transform: scale(1.1);
    }
}

