.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;

    .pokeball {
        height: max-content;
        width: max-content;
        aspect-ratio: 1;
        max-height: 45%;
        max-width: 80%;
        opacity: .75;
        animation: spin 2.5s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}