$secondary-color: #151818;
$secondary-color-variant: #101010;

$primary-color: #ffffff;
$primary-color-variant: #eee;

$accent-color: #F86868;

$blur-color: #00000060;
$blur-size: 20px;

$border-radius: 30px;
$border-color: #ededed21;
$basic-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

$logo-height: 4rem;
$main-top-padding: calc($logo-height + 2.5rem);
$website-padding: 5vw;

@keyframes skeleton {
    from {
        background-position: 150%;
    }

    to {
        background-position: -50%;
    }
}
