$primary-color: #151818;
$primary-color-variant: #050505;

$secondary-color: #ffffff;
$secondary-color-variant: #f1f1f1;

$text-color: #54595f;

$accent-color: rgb(255, 156, 0);
$accent-color-variant: rgb(255, 156, 0, 0.3);

$blur-color: #ffffff00;
$blur-size: 20px;
$border-radius: 20px;
$border-color: #ededed21;
$basic-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

$logo-height: 4rem;
$main-top-padding: calc($logo-height + 2.5rem);
$website-padding: 5vw;

@keyframes skeleton {
    from {
        background-position: 150%;
    }

    to {
        background-position: -50%;
    }
}
