.nav {
    display: flex;
    justify-content: center;
    max-width: 100%;

    .list {
        display: flex;
        gap: 1rem;    
        flex-wrap: wrap;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .75rem;
            border-radius: 10px;
            
            &.firstOrLast {
                // filter: brightness(.85);
                // background-color: var(--secondary-color, $secondary-color)
                // color: $primary-color;
            }

            &.active {
                filter: brightness(1);
                background-color: var(--accent-color, $accent-color);
                color: var(--primary-color, $primary-color);
            }
        }
    }
}