a.goBack {
    align-items: center;
    gap: .5rem;
    height: max-content;
    width: max-content;
    padding: .5rem;
    

    .icon {
        height: 1.75rem;
        aspect-ratio: 1;
        fill: var(--secondary-color, $secondary-color);
    }
}