.textArea {
    background-color: var(--primary-color-variant, $primary-color-variant);
    min-height: 100%;
    color: var(--secondary-color, $secondary-color);
    border: 0;
    padding: 1rem;
    border-radius: $border-radius / 2;
    box-shadow: var(--basic-shadow, $basic-shadow);
    resize: none;
    outline: 1px solid transparent;
    transition: 
        background-color .3s ease-in-out,
        outline-color .3s ease-in-out;
}

.textArea:is(:focus-within) {
    background-color: var(--primary-color, $primary-color);
    outline-color: $accent-color;
}