.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--accent-color, $accent-color);
    padding: $header-padding-y 1rem;
    height: $header-height;
    color: $primary-color;
    box-shadow: var(--header-shadow, $header-shadow);

    & > * {
        height: 100%;
        flex: 1;
    }

    & > div:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .themeContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .themeButton {

            svg {
                fill: currentColor;
                height: ($header-height - $header-padding-y * 2) * .5;
            }
        }
    }
    
    .burgerButton {
        height: 50%;
        aspect-ratio: 1/1;
        width: auto;
    }

    .logoContainer {
        flex: 3;
        display: grid;
        place-content: center;
        margin: 0 auto;
        
        
        .logo {
            transition: transform 1s cubic-bezier(.03,.98,.52,.99);
          
            svg {
                height: $header-height - $header-padding-y * 2;
                max-width: 45vw;
            }
    
            &:is(:hover, :focus-within) {
                transform: scale(1.1);
            }  
        }
    }

}