.pokemonCard {
    --_after-color: var(--_background-color);

    &.skeleton {
        transform: scale(1);
        background-color: $secondary-color-variant;
        
        &::after, &::before {
            opacity: 1;
        }

        .h3 {
            display: block;
            height: 1.75rem;
            width: 65%;
            margin: 0 auto;
        }

        .type {
            height: 1.25rem;
            width: 4rem;
        }
        
    }

    &:not(.skeleton) .linkContainer {
        background-color: var(--_background-color, $accent-color);
    }


    .linkContainer {
        gap: .25rem;
        border-radius: inherit;
        color: #fff;
        overflow: visible;

        & > * {
            z-index: 100;
        }

        .img {
            transform-origin: bottom center;
            transition: transform 1s cubic-bezier(.03,.98,.52,.99);
            aspect-ratio: 1;
        }

        .types {
            margin-left: auto;
            display: flex;
            gap: .25rem;
            padding: .25rem;
            font-weight: 700;
        }
    
        &:is(:hover, :focus-within) {
            .img {
                transform: scale(1.1) translateY(-5%);
            }
        }

        &:not(.list) {
            display: grid;
            place-items: center;
            aspect-ratio: 1;
            padding: min(5%, 1rem);

            .img {
                width: 80%;
                aspect-ratio: 1;
            }
        }

        &.list {
            display: flex;
            align-items: center;
            padding: .5rem min(5%, 1.25rem);

            &.smaller {
                padding: .25rem min(5%, 1.25rem);

                .img {
                    height: 1.5rem;
                }

                .types {
                    font-size: .75rem;
                }
            }

            .img {
                height: 3rem;
            }
        }


    }
}