
$image-height: 25rem;
$gap: 1.5rem;

.main {
    background-color: var(--accent-color, $accent-color);
    padding: 0 .5rem .5rem .5rem;
    min-height: auto;

    .banner {
        padding-bottom: $image-height / 2 + 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    

    .container {
        display: grid;
        gap: $gap;
        background-color: var(--primary-color, $primary-color);
        border-radius: $border-radius;
        padding: ($image-height / 2 + $gap) 1rem 1rem 1rem;
        position: relative;
        z-index: 10;
        box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .25);


        .imageContainer {
            position: absolute;
            left: 50%;
            top: 0;
            height: $image-height;
            width: 100%;
            display: grid;
            place-items: center;
            transform: translateY(-50%) translateX(-50%);
        }

        .centered {
            display: grid;
            gap: 1rem;
            place-items: center;
        }
    }

}